body {
    margin: 0;
    font-family: "arial", sans-serif;
    font-size: 100%;
    height: 100%;
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.content {
    margin-top: calc(4em);
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    word-wrap: break-word;
}

.demo {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.demo p {
    margin: 2px;
}

.demo button {
    margin: 5px;
    width: 100%;
    height: 10%;
}

.button {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 0;
}

.active {
    color: #FF0000;
}

.inactive {
    color: #CCC;
}

.titlebar {
    min-height: 4em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    text-align: center;
    position: fixed;
    width: 80%;
    left: 10%;
    right: 10%;
    transition: all .2s ease-in-out;
}

.titlebar.scrolled {
    top: 0;
}

.titlebar.not-scrolled {
    top: 10px;
}

.titlebar.scrolled .button {
    background-color: rgba(0, 0, 0, 0.7);
}

.titlebar.not-scrolled .button {
    background-color: rgba(0, 0, 0, 0.9);
}


.menu-text {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 2em;
}

.dropdown-text {
    width: 100%;
}

.app-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.9);
    color: #CCC;
}

.embed-link {
    text-decoration: none;
    width: 100%;
}